body {
    background-color: #2c2f33;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #23272a;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
    font-family: consolas;
}

a {
    color: white;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    width: 100px;
}

h1 {
    color: white;
    font-size: xxx-large;
    text-align: center;
}

.container {
    display: inline-block;
}

.typing {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: x-large;
    color: white;
    width: 0;
    animation: typing 2s forwards;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
